<!DOCTYPE html>
<html lang="en">
    <!-- Header file  -->
    <%- include('../partials/headerfile.ejs')%>
      <!-- Header file  -->
<body>

  <!-- navbar -->
<%- include('../partials/navbar.ejs')%>
  <!-- navbar -->


  <!-- hero section -->
  <%- include('../partials/hero.ejs')%>
  <!-- hero section -->


  <!-- About us -->
  <%- include('../partials/about.ejs')%>
  <!-- About us -->            
    
  <!-- Service Area -->
  <%- include('../partials/service.ejs')%>
  <!-- Service Area -->


  <!--Google map Area-->
  <%- include('../partials/googlemap.ejs')%>
  <!--Google map Area-->



  <!--Contact us Area-->
  <%- include('./contact.ejs')%>
    <!--Contact us Area-->

  <!--Footer Area-->
  <%- include('../partials/footerfile.ejs')%>
    <!--Contact us Area-->



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
</body>
</html>
